*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Minion Pro Regular';
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-top: 20px;
}

.page {
  padding: 0 15px;
}

.page-container {
  position: relative;
}

.grid {
  position: relative;
  display: block;
}

.header-row {
  position: relative;
  display: flex;
}

.header-row--item {
  position: relative;
  display: block;
  padding-right: 10px;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  padding-left: 33px;
  background: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
  transition: opacity .4s linear;
  visibility: hidden;
  opacity: 0;
}

.header-menu.is-open {
  opacity: 1;
}

.is-link {
  cursor: pointer;
}

.header-menu--desc {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  max-width: 450px;
}

.header-menu--clients {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: top;
  width: 40%;
  max-width: 450px;
  padding-left: 40px;
}

.header-menu--clients span {
  position: relative;
  display: block;
  width: 50%;
}

@media screen and (min-width: 984px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
  }

  .page {
    padding: 0 33px;
  }

  .grid {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
}
