*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'ss';
}

body {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}

img::selection {
  color: transparent;
  background: transparent;
}

.Cf:after {
  content: '';
  display: table;
  clear: both;
}

.Cf:before {
  display: table;
  content: '';
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page {
  padding: 0 15px;
  opacity: 0;
  overflow: hidden;
  max-height: 100%;
  transition: opacity 1s linear;

  opacity: 1;
  overflow: auto;
  max-height: none;
  height: 100%;
}

/* .page.is-loaded {
  opacity: 1;
  overflow: auto;
  max-height: none;
  height: 100%;
} */

.page-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 1s linear;
}

.page-preloader img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  position: relative;
  display: block;
}

.header-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-row--item {
  position: relative;
  display: block;
  padding-right: 10px;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 20px 15px 0;
  background: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
  visibility: hidden;
  opacity: 0;
}

.header-menu.is-open {
  opacity: 1;
}

.is-link {
  cursor: pointer;
}

.header-menu--desc {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100%;
  max-width: 450px;
}

.header-menu--clients {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100%;
  max-width: 450px;
  padding-top: 30px;
}

.header-menu--clients span {
  position: relative;
  display: block;
  width: 50%;
}

.header-menu--clients-header {
  position: relative;
  display: block;
  flex-basis: 100%;
}

.is-hidden-mob {
  display: none;
}

.cookie-banner {
  position: fixed;
  display: flex;
  bottom: 0;
  padding: 0 33px 20px;
  transition: opacity .4s linear;
}

.cookie-banner.is-hidden {
  opacity: 0;
}

.cookie-banner p {
  padding-right: 40px;
}

.cookie-btn {
  position: relative;
  cursor: pointer;
}

.caps {
  text-transform: uppercase;
}

@media screen and (max-width: 983px) {
  .grid {
    width: 100% !important;
  }
}

@media screen and (min-width: 984px) {
  .is-hidden-mob {
    display: unset;
  }

  .header {
    position: -webkit-sticky;
    position: sticky;
    padding-bottom: 0px;
  }

  .header-menu {
    padding: 20px 33px 0;
  }

  .header-menu--desc {
    display: inline-block;
    width: 40%;
  }

  .header-menu--clients {
    display: inline-flex;
    width: 40%;
    padding-left: 10px;
    padding-top: 0px;
  }

  .header-row {
    flex-wrap: nowrap;
  }

  .header-row--item {
    white-space: nowrap;
  }

  .page {
    padding: 0 33px;
  }

  .grid {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
}
