img[data-action=zoom] {
  cursor: pointer;
}

img[data-action=close] {
  cursor: pointer;
}

.image-zoom-img {
  position: relative;
  z-index: 666;
}

.image-zoom-overlay {
  z-index: 233;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.image-zoom-overlay-show {
  overflow: hidden;
}

.image-zoom-overlay-show .page {
  pointer-events: none;
}
