.page-container {
  position: relative;
  transition: filter 1s linear;
}

.photography-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 21px;
}

.photography-case-gallery {
  display: inline-flex;
  height: 100px;
  margin-bottom: 37px;
}

.photography-case-img {
  position: relative;
  display: block;
  height: 100px;
  width: auto;
  margin-right: 4px;
  margin-bottom: 37px;
  transition: opacity .4s linear;
}

.photography-case-img.hovered {
  opacity: 1;
}

.photography-case-img.not-hovered {
  opacity: .5;
}

.photography-case-img:last-of-type {
  margin-right: 0px;
}

.photography-case-img_last {
  margin-right: 36px;
}

div.page-container {
  position: relative;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  transition: filter 1s linear;
}

@media screen and (min-width: 984px) {
  .photography-case-img_last {
    margin-right: 66px;
  }

  div.page div.page-container {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    transition: filter 1s linear;
  }
}
