.photography-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 21px;
}

.photography-case-gallery {
  display: inline-flex;
  height: 100px;
  margin-bottom: 37px;
}

.photography-case-img {
  position: relative;
  display: block;
  height: 100px;
  width: auto;
  margin-right: 4px;
  transition: opacity .4s linear;
}

.photography-case-img-wrap_last .photography-case-img {
  margin-right: 0px;
}

.photography-case-img-wrap {
  position: relative;
  display: block;
  padding-bottom: 37px;
}

.photography-case-img-wrap_last {
  margin-right: 36px;
}

.photography-case-img-dot {
  display: none;
}

div.page-container {
  position: relative;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  transition: filter .4s linear;
}

@media screen and (min-width: 984px) {
  .photography-case-img-wrap_last {
    margin-right: 66px;
  }

  .photography-case-img-wrap:hover .photography-case-img-dot {
    opacity: 1;
  }

  .photography-case-img-dot {
    position: absolute;
    display: block;
    bottom: 18.5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  .open .photography-case-img-dot {
    opacity: 1!important;
    filter: blur(6px);
  }

  div.page div.page-container {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    transition: filter .4s linear;
  }
}
